
.container-m-top{
    margin-top: 50px;
}

.col{
    
    height: 350px;
}

.wrap_style{
    max-width: 1350px;
    margin-top: 50px;
}

.btn{
    background-color: #050606;
} 

.card-title{
    color: #198754; 
}

